services:
  db:
    image: postgres:17.6
    container_name: library-db
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"

  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.10.0
    container_name: library-jaeger
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317"   # OTLP gRPC ingest
      - "4318:4318"   # OTLP HTTP ingest
      - "5778:5778"   # Remote sampling (HTTP)
      - "9411:9411"   # Zipkin compatible ingest (optional)
    restart: unless-stopped