<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="json-logs">
        <springProperty name="app" source="spring.application.name" defaultValue="app"/>

        <contextName>${app}</contextName>
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <threadName/>
                    <logLevel/>
                    <loggerName/>
                    <contextName/>
                    <callerData>
                        <fieldName>caller</fieldName>
                        <classFieldName>class</classFieldName>
                        <methodFieldName>method</methodFieldName>
                        <lineFieldName>line</lineFieldName>
                        <fileFieldName>file</fileFieldName>
                    </callerData>
                    <arguments>
                        <fieldName>args</fieldName>
                        <includeNonStructuredArguments>false</includeNonStructuredArguments>
                    </arguments>
                    <mdc/>
                    <tags/>
                    <logstashMarkers/>
                    <nestedField>
                        <fieldName>exception</fieldName>
                        <providers>
                            <stackTrace/>
                            <throwableClassName>
                                <useSimpleClassName>false</useSimpleClassName>
                            </throwableClassName>
                            <throwableMessage/>
                            <rootStackTraceElement/>
                            <throwableRootCauseClassName>
                                <useSimpleClassName>false</useSimpleClassName>
                            </throwableRootCauseClassName>
                            <throwableRootCauseMessage/>
                            <stackHash/>
                        </providers>
                    </nestedField>
                    <message/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <springProfile name="structured-logs">
        <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!json-logs &amp; !structured-logs">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>